.experience-section {
  padding:50px 0;
  background-color: transparent;
  color: #fff;
  position: relative;
  z-index: 1;

}

.experience-section .section-title {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.experience-section .section-title::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background-color: #00d4ff;
  margin: 16px auto 0;
  border-radius: 4px;
}

/* Glass Box from global theme */
.experience-wrapper {
  margin-top: 40px;
  padding-left:150px
}

/* Optional for text-muted override */
.text-muted {
  color: #ccc !important;
}

@media (max-width: 768px) {
  .experience-section .section-title {
    font-size: 2.2rem;
    text-align: center;
  }
 
}
